.start {
    width: 350px;
    height: 248px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    cursor: initial;
}

.start:hover {
    -unity-background-image-tint-color: rgb(145, 178, 221);
    cursor: url('project://database/Assets/Assets/Paper/curseur.png?fileID=2800000&guid=5b86ab0efe8a2584799bdadf40c66a08&type=3#curseur');
}

.quit {
    font-size: 80px;
    -unity-text-align: upper-left;
}

.quit:hover {
    background-image: none;
    cursor: url('project://database/Assets/Assets/Paper/curseur_triste.png?fileID=2800000&guid=1789bb37b0d3b344190208e99a5485a1&type=3#curseur_triste');
    -unity-background-image-tint-color: rgb(0, 107, 145);
    font-size: 120px;
}
